<a href="https://colab.research.google.com/github/ritaveab/python_hse/blob/main/Baeva_homework_1_arithmetics_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(c) В.И. Фирсанова | 2025

# Арифметические операции в Python

1. **Сложение (+)**:
   - `3 + 5` возвращает `8`

2. **Вычитание (-)**:
   - `10 - 4` возвращает `6`

3. **Умножение (*)**:
   - `2 * 6` возвращает `12`

4. **Деление (/)**:
   - `15 / 3` возвращает `5.0` (число с плавающей точкой)

5. **Целочисленное деление (//)**:
   - `15 // 4` возвращает `3` (целое число)

6. **Остаток от деления (%)**:
   - `15 % 4` возвращает `3`

7. **Возведение в степень (**** **либо (pow())**:
   - `2 ** 3` или `pow(2, 3)` возвращает `8`

8. **Модуль (abs())**:
   - `abs(-10)` возвращает `10`

10. **Округление (round())**:
    - `round(4.6)` возвращает `5`
    - `round(4.65, 1)` возвращает `4.7` (1 знак после запятой)

**Порядок арифметических операций в Python:**

1. Скобки
2. Возведение в степень, корень числа
3. Умножение и деление слева-направо
4. Сложение и вычитание слева-направо

In [1]:
num1 = 10
num2 = 20

# Напишите код для сложения 2-х числел


result = 10 + 20

print(result)

30

In [2]:
num1 = 10
num2 = 20

# Напишите код для вычитания 2-х чисел

result = 20 - 10

print(result)

10

In [6]:
num1 = 10
num2 = 20

# Напишите код для умножения 2-х чисел

result = 10*20

print(result)

200

In [5]:
num1 = 10
num2 = 20

# Напишите код для деления 2-х чисел

result = 20/10

print(result)

2.0

In [7]:
str1 = "Hello, "
str2 = "World!"

# Напишите код для сложения 2-х строк, что получилось?

result = str1+str2

print(result)

Hello, World!

In [14]:
str1 = "Hello, "
num1 = 10

# Напишите код для сложения строки и числа, чем это все закончилось?

result = str1+num1

print(result)

''' результат выдает ошибку'''

TypeError: can only concatenate str (not "int") to str

In [15]:
str1 = "Hello, "
num1 = "10"

# Напишите код для сложения строки и числа еще раз, что получилось?

result = str1+num1

print(result)

Hello, 10

Сложение двух строк называется **конкатенацией**. В Python можно конкатенировать только 2 одинаковых типа данных, например, числа и числа, строки и строки, матрицы и матрицы и т.д.

In [20]:
num1 = 10
num2 = 20

# Выведите на экран результат сложения 2-х чисел

num1 += num2

print(num1)

30

Операторы `+=`, `-=`, `*=`, `/=` изменяют значение текущей переменной путем сложения, вычитания, умножения и т.д. другой переменной. Они делают код **питоничным**, ускоряя как скорость написания кода, так и скорость его выполнения.

Почему ускоряется скорость выполнения кода?

Сценарий 1

```
a = 1 # занимаем ячейку памяти компьютера и даем ей идентификатор a
b = 1 # занимаем ячейку памяти компьютера и даем ей идентификатор b

c = a + b # занимаем ячейку памяти компьютера и даем ей идентификатор c
```
Сценарий 2
```
a = 1 # занимаем ячейку памяти компьютера и даем ей идентификатор a
b = 1 # занимаем ячейку памяти компьютера и даем ей идентификатор b

a += b # обновляем информацию в ячейке a
```

Результат тот же, но мы не заполняем место в памяти компьютера ячейкой `c`.
А теперь представь, что мы работаем с большими данными. Как много памяти мы сохраним и насколько быстрее будет работать такой код!

Так что питоничность - это то, к чему мы стремимся, как питонисты :)

In [22]:
num1 = 10
num2 = 20

# Выведите на экран результат вычитания 2-х чисел с помощью оператора -=

num2 -= num1

print(num2)

10

In [23]:
num1 = 10
num2 = 20

# Выведите на экран результат умножения 2-х чисел с помощью оператора *=

num1 *= num2

print(num1)

200

In [24]:
num1 = 10
num2 = 20

# Выведите на экран результат деления 2-х чисел с помощью оператора /=

num2 /= num1

print(num2)

2.0


## Теория: имена переменных и операции в Python

### Имена переменных
- Имя переменной должно быть **понятным и описательным**. Например, `age`, `user_name`, а не `a`, `xyz`.
- Используйте **snake_case**, а не **camelCase**: слова разделяются символом подчёркивания (`max_value`, `user_input`).
- Имя переменной **не может начинаться с цифры** и содержать пробелы.
  > Python не считает `0variable`, но считает `variable0`. Это связано с тем, что то, что начинается с цифры, начинает интерпретироваться нашей системой как число. Не будем путать процессор :)
- **Зарезервированные слова** (например, `for`, `if`, `class`) нельзя использовать в качестве имён.
  > Что это за "резерв" такой? Сюда попадают названия, которые участвуют в работе языка Python: `for` запускает цикл, `class` объявляет класс и т.д. Использование таких слов в качестве переменных создаст *неоднозначность* в работе программы. Проще говоря, питон запутается!

Плохой нейминг:
```python
a = 10
b = "hello"
```

Хороший нейминг:
```python
user_age = 10
greeting = "hello"
```

**Практика** перед новым занятием

In [26]:
# 1: создай переменную с именем user_age и сохрани в ней число, введённое с клавиатуры
user_age = int(input("Введи свой возраст: "))

# Проверка
assert isinstance(user_age, int)
print("Переменная создана правильно.")

Введи свой возраст: 24
Переменная создана правильно.

In [28]:
# Теперь введи сюда имя пользователя
user_age = int(input("Введи свой возраст: "))

# Проверка
assert isinstance(user_age, int)

Введи свой возраст: Рита

ValueError: invalid literal for int() with base 10: 'Рита'

Какой из элементов кода вызвал ошибку?

Ответ (неверный тип данных):

**Задания на закрепление материала**

1. Создай переменную x = 10 и приьавт к ней 5 с помощью сокращённого (комбинированного) оператора

In [29]:
x = 10
x += 5
print(x)

15

2. Написать код, чтобы преобразовать температуру в градусах по Цельсию к виду значений температуры в градусах по Фаренгейту. Использовать `int(input())` для ввода значения температур

In [34]:
celsius = int(input("add celsius temperature: "))
fahrenheit = celsius * 1.8 + 32
print(fahrenheit)

add celsius temperature: 15
59.0

3. Написать код, чтобы переводить минуты в часы и считать остаток минут. Использовать `int(input())` для ввода количества минут

In [41]:
minutes = int(input("add minutes: "))
hours = minutes // 60
rem_minutes = minutes % 60
print(hours,"h.", rem_minutes,"m.")

add minutes: 125
2 h. 5 m.

4. Ячейка кода ниже должна принимать 2 числа и считать их сумму, разность, произведение и частное

In [42]:
num1 = int(input('add first number: '))
num2 = int(input('add second number: '))
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
print('сумма: ', addition)
print('разность: ', subtraction)
print('произведение: ', multiplication)
print('частное: ', division)

add first number: 50
add second number: 5
сумма:  55
разность:  45
произведение:  250
частное:  10.0

5. Сколько будет 15% от 200?

In [44]:
number = 200
percentage = 15
result = number * percentage / 100
print(result)

30.0